<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Universidad Carlos III de Madrid</li>
    <li>Depto. Economía de la Empresa</li>
    <li>C/Madrid 126, 28903 Getafe, ES</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span>Edificio Normante 6.0.23</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span>+34 91 624 9322</li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span>michele.piazzai@uc3m.es</li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span>https://piazzai.github.io</li>
  </ul>
</div>
