<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Universidad Carlos III de Madrid</li>
    <li>Depto. Economía de la Empresa</li>
    <li>C/Madrid 126, 28903 Getafe, ES</li>
    <li><span class="li-icon">{% include iconlink.html icon="svg/pin-alt.svg" href="https://goo.gl/maps/z9JuS7jPDu4gsurh9" %}</span>Edificio Normante 6.0.23</li>
    <li><span class="li-icon">{% include iconlink.html icon="svg/phone.svg" href="tel:+34916249322" %}</span>+34 91 624 9322</li>
    <li><span class="li-icon">{% include iconlink.html icon="svg/mail.svg" href="mailto:michele.piazzai@uc3m.es" %}</span>michele.piazzai@uc3m.es</li>
    <li><span class="li-icon">{% include iconlink.html icon="svg/internet.svg" href="https://piazzai.github.io" %}</span>https://piazzai.github.io</li>
  </ul>
</div>
