<header class="mb-auto">
    <a class="h3 float-md-start mb-0 text-decoration-none" href="/">
        <span class="fw-light">{{ site.author | split: " " | first }}</span>
        <span class="fw-semibold">{{ site.author | split: " " | last }}</span>
    </a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            {% assign links = site.pages | sort: "order" %}
            {% for link in links %}
            {% unless link.layout == 404 %}
            {% if link.url == page.url %}
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
            <a class="nav-link fw-bold py-1 px-0" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
            {% endunless %}
            {% endfor %}
            <a class="nav-link fw-bold py-1 px-0" href="{{ 'cv.pdf' | relative_url }}">CV</a>
        </nav>
</header>
