<div id="particles-home" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.tagline }}</h1>
    <div class="nowrap">
      <a class="particles-icon" href="https://business.uc3m.es/en/faculty/profesor/perfil/michele-piazzai">{% include svg/user-circle-alt.svg %}</a>
      <a class="particles-icon" href="https://orcid.org/0000-0001-9676-7422">{% include svg/orcid.svg %}</a>
      <a class="particles-icon" href="https://scholar.google.com/citations?user=qcJki2MAAAAJ">{% include svg/google-circled.svg %}</a>
      <a class="particles-icon" href="https://www.scopus.com/authid/detail.uri?authorId=56123810600">{% include svg/scopus-circled.svg %}</a>
      <a class="particles-icon" href="https://www.webofscience.com/wos/author/rid/ABH-6674-2020">{% include svg/clarivate-circled.svg %}</a>
      <a class="particles-icon" href="https://lichess.org/@/piazzai">{% include svg/lichess-circled.svg %}</a>
      <a class="particles-icon" href="https://github.com/piazzai">{% include svg/github-outline.svg %}</a>
      <a class="particles-icon" href="mailto:michele.piazzai@uc3m.es">{% include svg/send-mail-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
