* {
    --bs-body-color: var(--oc-gray-0);
    --bs-body-color-rgb: var(--oc-gray-0-rgb);
    --bs-body-bg: var(--oc-gray-9);
    --bs-body-bg-rgb: var(--oc-gray-9-rgb);
    --bs-secondary-color: var(--oc-gray-6);
    --bs-secondary-color-rgb: var(--oc-gray-6-rgb);
    --bs-tertiary-color: var(--oc-gray-4);
    --bs-tertiary-color-rgb: var(--oc-gray-4-rgb);
    --bs-link-color: var(--oc-blue-3);
    --bs-link-color-rgb: var(--oc-blue-3-rgb);
    --bs-link-hover-color: var(--oc-blue-4);
    --bs-link-hover-color-rgb: var(--oc-blue-4-rgb);
    --bs-nav-link-color: var(--oc-gray-6);
    --bs-nav-link-color-rgb: var(--oc-gray-6-rgb);
    --bs-body-font-family: "Fira Sans", var(--bs-font-sans-serif);
    --bs-nav-link-hover-color: var(--bs-secondary-color);
    --bs-nav-link-hover-color-rgb: var(--bs-secondary-color-rgb);
}
