---
layout: page
---

<img src="{{ 'assets/img/profile.png' | relative_url }}" class="mx-auto my-5 rounded-circle w-50" alt="{{ site.author }}" loading="lazy" />
{{ content }}
<ul class="nav mb-5 justify-content-center list-unstyled">
    {% for icon in site.data.home.icons %}
    <li class="mx-2">
        <a class="icon-link" href="{{ icon.url }}">
            <svg width="36" height="36" fill="currentColor">
                <title>{{ icon.title }}</title>
                <use xlink:href="#{{ icon.id }}" />
            </svg>
        </a>
    </li>
    {% endfor %}
</ul>
